<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information candidate</title>
</head>
<body>
    <h2>Information Candidate</h2>
    <label th:text="${candidate.id}"></label> <br>
    <label th:text="${candidate.fullName}"></label> <br>

    <h2>Skill of candidate</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Skill name</th>
            <th>Skill level</th>
            <th>More infos</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="skill : ${canSkill}">
            <td th:text="${skill.skill.skillName}"></td>
            <td th:text="${skill.skillLevel}"></td>
            <td th:text="${skill.moreInfo}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>